  
# Connection Pooling (para a app — usa pgBouncer)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?pgbouncer=true"

# Direct Connection (para migrações Prisma)
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/postgres" 